# dependencies
node_modules
npm-debug.log*

# next build output
.next
.next/cache
out

# testing/coverage
coverage

# local env and config
.env
.env.*
!.env.example
.DS_Store
.idea
.vscode
.git
.gitignore

# lockfiles other than npm (using npm ci)
yarn.lock
pnpm-lock.yaml

